html,body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
}
body{
	background-color: #2af;
	text-align: center;
}
strong{
	font-size: 2em;
}
.container{
	margin: 3em 0;
}
.pelota,.pelota2,.pelota3,.pelota4,.pelota5{
	width: 50px;
	height: 50px;
	background-color: gold;
	border-radius: 50%;
}
.pelota{
	animation: trasladar 2s linear infinite;
}
.pelota2{
	animation: trasladar 1.8s linear infinite;
}
.pelota3{
	animation: trasladar 3s linear infinite;
}
.pelota4{
	animation: trasladar 1.5s linear infinite;
}
.pelota5{
	animation: trasladar 2.5s linear infinite;
}

@keyframes trasladar{
	50%{
		margin-left: 96%;
	}
}

.info{
	background-color: orange;
	color: #fff;
	text-align: center;
	line-height: 3;
}
